<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcc.hellogank">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gcc.hellogank.ui.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gcc.hellogank.ui.activity.WebActivity" />
        <activity android:name="com.gcc.hellogank.ui.activity.VideoListActivity" />
        <activity android:name="com.gcc.hellogank.ui.activity.GankInfoActivity" />
        <activity android:name="com.gcc.hellogank.ui.activity.MeiZiActivity" />
        <activity android:name="com.gcc.hellogank.ui.activity.PhotoActivity" />
        <activity android:name="com.gcc.hellogank.ui.activity.AboutActivity" />
        <activity
            android:name="com.gcc.hellogank.ui.activity.VideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>

</manifest>